@import "tailwindcss";

body {
  @apply font-outfit;
}

#root {
  @apply min-h-screen;
}

@font-face {
  font-family: Outfit;
  src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: CherryBombOne;
  src: url(./assets/fonts/CherryBombOne-Regular.ttf);
}

@theme {
  --font-cherry: CherryBombOne;
  --font-outfit: Outfit;
  --color-coffee: rgba(120, 87, 63, 1);
  --color-babypowder: rgba(253, 253, 253, 1);
  --color-black: rgba(13, 10, 7, 1);
}

@layer components {
  .mp-default {
    @apply max-w-[1280px] mx-auto p-4;
  }

  .bar {
    @apply bg-black w-full h-1.25 rounded-full;
  }
}